name: Deploy code

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - uses: actions/setup-node@v4
      with:
        node-version: 18
        registry-url: https://registry.npmjs.org/
    - name: build
      run: |
        cd javascript-client-generated
        npm i
        npm run build
        mv dist/cjs/index.js dist/cjs/index.cjs
        npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{secrets.npm_token}}
        
#  release:
#      runs-on: ubuntu-latest
#      steps:
#      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
#      - name: Create sentry release
#        uses: getsentry/action-release@v1
#        env:
#         SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
#         SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
#         SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
#        with:
#         environment: production
#         version: ${{ github.event.release.name }}
