name: Test code

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - uses: actions/setup-node@v4
      with:
        node-version: 22
    - name: lint
      run: |
        cd javascript-client-generated
        npm i
        npm run lint
    - name: build
      run: |
        cd javascript-client-generated
        npm run build
    - name: test
      run: |
        cd javascript-client-generated
        npm run test 
      env:
        node_env: testing         
